html {
    font-size: 100px;
}

body {
    font-size: 0;
    margin: 0;
    background-color: #f0eeee;
    padding-top: .6rem;
}

body>header {
    vertical-align: top;
    display: inline-block;
    width: 2.1rem;
    padding-left: .1rem;
    box-sizing: border-box;
}

body>header>div.logo {
    font-size: 0;
    width: 2.1rem;
    height: 2.1rem;
    display: inline-block;
    background-image: url('luna.png');
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center center;
}

body>header>nav {
    font-size: .16rem;
}

body>header>nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

body>header>nav>ul>li>a {
    text-decoration: none;
    line-height: .3rem;
    padding-left: .2rem;
}

body>header>nav>ul>li.click {
    background-color: white;
}

body>article {
    background-color: white;
    padding: .5rem;
    box-sizing: border-box;
    min-height: calc(100vh - 1.1rem);
    vertical-align: top;
    display: inline-block;
    font-size: .16rem;
    width: calc(100vw - 2.3rem);
}

p.block {
    text-indent: 2em;
    line-height: 1.6em;
}

p.block>span.list {
    display: block;
}

p.title {
    color: red;
}

footer {
    font-size: .16rem;
    background: #453015;
    width: 100vw;
    margin: auto;
    color: rgb(242, 242, 248);
    line-height: .5rem;
    position: relative;
    padding: 0 .1rem 0 .1rem;
    box-sizing: border-box;
}

footer>.info {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}

footer>.nav {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding-right: .5rem;
    background-image: url('github.png');
    background-repeat: no-repeat;
    background-size: 0.4rem auto;
    background-position: right center;
    cursor: pointer;
}
.warn{
    color: rgb(197, 197, 5);
    font-size: .12rem;
    display: block;
    margin:.1rem 0 .1rem 0;
}
